<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456980050865-o52l4itbsg6umgf4396kv8pe5adhgjm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456980050865-o52l4itbsg6umgf4396kv8pe5adhgjm8</string>
	<key>API_KEY</key>
	<string>AIzaSyD7IoiKIh3AuOqpOOGZ4f-SFAz6i7Ug9mc</string>
	<key>GCM_SENDER_ID</key>
	<string>456980050865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-cdcd7</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-cdcd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456980050865:ios:41515184da39cb3f934390</string>
</dict>
</plist>